* {
    box-sizing: border-box;
}

body {
    background-image: url(/public/hip-square.22f03fab06033dc3aca1.png)
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    color: #f90;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 3px #0baf94;
}

.title {
    color: #0baf94;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 3px #f90;
}

h2 {
    color: #a5510d;
    ;
}

.divider {
    width: 50%;
    height: 1px;
    border-bottom: 4px solid rgba(255, 41, 41, 0.555);
    margin: 20px auto;
}

.list {
    background-color: rgba(255, 166, 0, .4);
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 1rem;
    border: 5px solid orange;
    border-radius: 15px;
    padding: 20px;
}

.selected {
    background-color: rgba(116, 116, 255, 0.315);
}

.avatar {
    width: 260px;
    height: 280px;
    position: relative;
}

.avatar-wrapper {
    border-radius: 40px;
    display: inline-block;
    border: 15px solid rgb(11, 175, 148);
    padding: 50px;
    position: sticky;
    background-color: #fff;
    top: calc(50% - 190px);
}

.clickable {
    cursor: pointer;
}

.square {
    overflow: hidden;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.151);
    transition-duration: 0.2s;
}

.square:hover {
    background-color: rgba(255, 137, 116, 0.315);
    transition-duration: 0.2s;
}

.img-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gap-30 {
    gap: 30px;
}

.text-center {
    text-align: center;
}

.avatar-group {
    display: flex;
    justify-content: center;

}

@media (max-width: 1150px) {
    .list {
        max-width: 700px;
    }

    .avatar-group {
        flex-direction: column;
        align-items: center;
    }

    .avatar-wrapper {
        padding: 0px;
    }
}

.list-section {
    max-width: 700px;
    text-align: center;
}

.button {
    background-color: rgb(202, 81, 25);
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button:hover {
    transition-duration: 0.2s;
    background-color: rgb(139, 55, 16);
}